/* body {

    background-image: url(https://w0.peakpx.com/wallpaper/210/932/HD-wallpaper-gradient-multicolored-color-abstraction-background-thumbnail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
    } */

#arrow{
    padding: 10px 22px 10px 22px;
    margin-left: 30px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20%;
    color:navy ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }

#amount {   
    padding: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}

#responce {    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#option {   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#option1   {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
}
#header {
    border-radius: 10px;
}

#font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* #gradient {
    background-image: url(https://w0.peakpx.com/wallpaper/74/8/HD-wallpaper-gradient-pastel-colors-bright-abstract-thumbnail.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
} */


